body {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .swiper-container {
    position: relative;
    width: 95%;
    height: 1000px;
    overflow: hidden;
    margin: auto;
  }
  
  .swiper-container > .swiper-slide__content {
    position: absolute;
    top: 0;
  }
  
  .swiper-slide {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transform: scale(0.8);
  }
  
  .swiper-slide.swiper-slide-active {
    transform: scale(1);
  }
  
  .swiper-slide__content {
    height: 300px;
  }
  
  .clase_nombre {
    justify-content: center;
    margin: auto;
    display: flex;
  }
  
  .h2_clase_nombre {
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
    min-width: 200px;
  }
  
  .img_clase {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
  }
  
  .element.asaltante{
    border-style: solid;
    border-color: #343863;
    border-radius: 3px;
  }
  