body {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.swiper-container {
  position: relative;
  width: 95%;
  height: 850px;
  overflow: hidden;
  margin: auto;
  margin-top: 25px;
}

.swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-slide {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
}

.swiper-slide.swiper-slide-active {
  transform: scale(1);
}

.swiper-slide__content {
  height: 300px;
}

.clase_nombre {
  justify-content: center;
  display: flex;
  margin: auto;
  
}

.h2_clase_nombre {
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  min-width: 200px;
}

.img_clase {
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}

.element.asaltante {
  border-style: solid;
  border-color: #343863;
  border-radius: 3px;
}

.element.controlador {
  border-style: solid;
  border-color: #883315;
  border-radius: 3px;
}

.element.luchador {
  border-style: solid;
  border-color: #b85d46;
  border-radius: 3px;
}

.element.tanque {
  border-style: solid;
  border-color: #ae6030;
  border-radius: 3px;
}

.element.conjurador {
  border-style: solid;
  border-color: #448b6d;
  border-radius: 3px;
}

.element.sanador {
  border-style: solid;
  border-color: #4f8a3f;
  border-radius: 3px;
}

.element.exaltador {
  border-style: solid;
  border-color: #2495c2;
  border-radius: 3px;
}

.element.mistico {
  border-style: solid;
  border-color: #855468;
  border-radius: 3px;
}