@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.pen {
  max-width: 635px;
  width: 100%;
  margin: 5px auto 0;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
}

.credit {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 150px auto 0;
  padding: 0;
  font-size: 0.8em;
  color: #f0f0f0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}

.credit p a,
.credit a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.credit p a:hover,
.credit a:hover,
.credit p a:active,
.credit a:active {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  color: white;
}

.credit p a.button,
.credit a.button {
  padding: 6px 12px;
  margin-top: 10px;
  background: #000000;
  border-radius: 3px;
}

.credit p a.button:hover,
.credit a.button:hover {
  background: #2b2b2b;
}

.credit p:last-of-type {
  margin-bottom: 30px;
}

.stage {
  max-width: 635px;
  width: 100%;
  height: 400px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element {
  background: green;
  width: 202px;
  transform-origin: 50% 50%;
  height: inherit;
  margin: 0 7px 0 0;
  display: inline-block;
  transition: all 0.25s ease-in-out;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
}

.element.active {
  width: 282px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element.inactive {
  width: 162px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.4;
}

.element.explorador {
  background: url('https://i.pinimg.com/564x/5e/f8/00/5ef8009505bb2620d70800e2fc35049f.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.ladron {
  background: url('https://i.pinimg.com/564x/19/8f/e1/198fe1fc0fe2fffc83c52301ac34d1b4.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.lancero {
  background: url('https://i.pinimg.com/564x/dd/42/3e/dd423ea9c5de7fc637599e9f2fdde306.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.ronin {
  background: url('https://preview.redd.it/xbx0uuh3z9241.jpg?width=640&crop=smart&auto=webp&s=3684ce0b495310cabef837c715746b7e2fe72b6e')
    45% 0 no-repeat;
  background-size: cover;
}

.element.pistolero {
  background: url('https://cdnb.artstation.com/p/assets/images/images/015/155/029/large/vinicius-werneck-sav-20184-illu-viniciusaugustoperezwerneckdealmeida-koboldhunter.jpg?1547252159')
    45% 0 no-repeat;
  background-size: cover;
}

.element.mago {
  background: url('https://i.pinimg.com/originals/d0/0b/65/d00b656ab48312fc32d49e7dc00fb1b9.png')
    45% 0 no-repeat;
  background-size: cover;
}

.element.barbaro {
  background: url('https://i.pinimg.com/1200x/a9/ba/70/a9ba70ffe3fb21fe0ffe842b046e02c7.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.monje {
  background: url('https://cdnb.artstation.com/p/assets/images/images/016/423/461/large/annie-doyon-lauriedurand-commissionjpeg2.jpg?1552101784')
    45% 0 no-repeat;
  background-size: cover;
}

.element.inquisidor {
  background: url('https://preview.redd.it/am5kbrrs8ap81.jpg?auto=webp&s=bf879e5b1999832c8212d21c9164cc831dca3992')
    45% 0 no-repeat;
  background-size: cover;
}

.element.ferromante {
  background: url('https://storage.googleapis.com/pai-images/67550b9212fe4e63b3d291d460edb7cb.jpeg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.forjado {
  background: url('https://i.pinimg.com/1200x/b2/57/7a/b2577a7c66fa7c3ada7e930575be4b2d.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.paladin {
  background: url('https://i.pinimg.com/736x/fb/c6/b3/fbc6b34cad0b06f15dccafd394607053.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.ingeniero {
  background: url('https://i.pinimg.com/1200x/f6/2d/e7/f62de7308fd69db832b3bfb51933cbf8.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.druida {
  background: url('https://i.pinimg.com/564x/44/84/a4/4484a487873d0534c4baafa98146c3ab.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.erudito {
  background: url('https://i.pinimg.com/564x/0e/a5/16/0ea51614f2ada0847f9c42cd73dc44f4.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.exorcista {
  background: url('https://i.pinimg.com/564x/08/a8/84/08a884948a3cf31e79b1966384571ab4.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.clerigo {
  background: url('https://i.pinimg.com/564x/b7/c7/43/b7c743853a9414f4cc4dc4287683d880.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.heraldo {
  background: url('https://i.pinimg.com/564x/2e/cb/2f/2ecb2f550dc73fcad52c7915ad22afc2.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.alquimista {
  background: url('https://i.pinimg.com/564x/24/c7/36/24c736aad1b4539d26d0800f8c430946.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.elementalista {
  background: url('https://i.pinimg.com/564x/83/5a/28/835a28e0feadabb34259b2756b38ce25.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.bardo {
  background: url('https://i.pinimg.com/564x/bf/c7/ea/bfc7ea4a42a5a5fa29de10ab46eebaed.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.crupier {
  background: url('https://cdnb.artstation.com/p/assets/images/images/049/978/245/large/aitor-sebastian-fplutzvxma0mipg.jpg?1653773699')
    45% 0 no-repeat;
  background-size: cover;
}

.element.brujo {
  background: url('https://i.pinimg.com/564x/87/05/4e/87054e3a3fa2d32fee32df8139904268.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element.astrologo {
  background: url('https://i.pinimg.com/564x/e5/b7/d0/e5b7d01dd1b9f7af38b4fce38dd6edbb.jpg')
    45% 0 no-repeat;
  background-size: cover;
}

.element:last-of-type {
  margin: 0;
}

@media all and (min-width: 900px) {
  .pen {
    max-width: 890px;
  }
  .element {
    width: 286px;
  }
  .element.inactive {
    width: 246px;
  }
  .element.active {
    width: 366px;
  }
  .stage {
    max-width: 890px;
    height: 600px;
  }
}
@media all and (max-width: 660px) {
  .pen {
    max-width: 335px;
  }
  .element {
    width: 101px;
  }
  .element.inactive {
    width: 61px;
  }
  .element.active {
    width: 181px;
  }
  .stage {
    max-width: 335px;
  }
}
@-webkit-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  min-width: 767px;
  margin: auto;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #fcf3e4;
}

nav {
  min-width: 767px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: rgb(235, 235, 235);
}

.pestaña {
  background-color: white;
}
nav a {
  display: inline-block;
  padding: 0.5rem;
  min-width: 9rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

nav a[aria-current='page'] {
  color: rgb(255, 255, 255);
  background-color: #ffffff;
}

main {
  min-width: 767px;
  margin: 1rem;
}

.FotodePerfil {
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  margin-left: auto;
  border-width: 5px;
  border-radius: 19px;
  position: relative;
}

.DivFotodePerfil {
  width: 90%;
  margin: auto;
  display: flex;
  max-width: fit-content;
  min-width: fit-content;
}

.Presentacion {
  max-width: fit-content;
  min-width: fit-content;
  margin-right: auto;
  margin-left: 25px;
  font-family: Monospace;
}

.Nombre {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
}

.Profesion {
  text-align: left;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.Caracteristicas {
  text-align: left;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.iconos {
  margin-top: 35px;
  text-align: left;
  text-decoration: none;
}

.imagen-github {
  margin-right: 15px;
  border-radius: 15px;
}
.imagen-linkedin {
  margin-left: 15px;
  border-radius: 15px;
}

.aptitudes-y-habilidades {
  text-align: center;
  min-width: 676px;
  margin-top: 50px;
}

.titulo {
  min-width: fit-content;
  font-size: 40px;
  font-weight: 500;
  font-family: Monospace;
}

.m-ul {
  margin-left: 50px;
  font-size: 25px;
}

li {
  margin-bottom: 15px;
}

.aptitudes {
  text-align: left;
  max-width: 1000px;
  min-width: 676px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  font-size: 20px;
}

.competencias {
  min-width: 676px;
  text-align: center;
}
.ul-competencias {
  text-align: left;
  max-width: 1000px;
  min-width: 676px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

.cuadro-contacto {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
  height: auto;
  margin-bottom: 25px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: #f1f1f1;
  max-width: fit-content;
  min-width: 650px;
}

.contacta {
  font-size: 35px;
  text-align: left;
  margin-left: 35px;
  text-decoration: underline;
}

.input-nombre {
  min-width: 648px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.i-Nombre {
  margin-right: 15px;
  margin-left: 15px;
}

.i-Asunto {
  margin-right: 15px;
  margin-left: 15px;
}

.i-Tu-Correo {
  margin-right: 15px;
  margin-left: 15px;
}

.input-mensaje {
  text-align: center;
}

.i-Mensaje {
  margin-top: 12px;
  margin-bottom: 11px;
}

.boton-enviar {
  text-align: center;
  margin-bottom: 15px;
}

.copyright {
  min-width: 767px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #7d7d7d;
  height: 60px;
  text-align: center;
}

.w-copyright {
  padding: 11px 10px 16px;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
}

/**Movil**/
@media (max-width: 767px) {
  nav {
    min-width: 767px;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
  }

  .Nombre {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 50px;
    font-weight: 800;
  }

  .Profesion {
    text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
  }

  .Caracteristicas {
    text-align: left;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
  }

  .aptitudes {
    text-align: left;
    max-width: 1000px;
    min-width: 676px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 23px;
  }

  ul li a:hover {
    background: #752e40;
  }

  ul li:hover ul.dropdown {
    display: block;
    margin: 0px;
    padding: 0px;
  }

  ul li:hover ul.dropdown-a {
    display: inline-block;
  }

  .swiper-navBtn {
    display: none;
  }

  .slide-content {
    margin: 0 10px;
  }
}

.b_tecnico {
  background-color: #fcf3e4;
}

.nav-tecnico {
  min-width: 767px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: solid 1px #b86300;
  background-color: rgb(61, 22, 32);
}

.t-w-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 767px;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  background-color: #3d1620;
}

.t-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 767px;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  background-color: #7d7d7d;
}

.sistema {
  display: inline;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 767px;
  max-height: 500px;
}

.ventana {
  display: inline;
}

.asaltador {
  font-size: 40px;
  font-weight: 600px;
}

.controlador {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.luchador {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.tanque {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.conjurador {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.sanador {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.exaltador {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.mistico {
  font-size: 40px;
  font-weight: 600px;
  list-style: decimal;
}

.b-ventana {
  background-color: #f5f29a;
  margin-left: 15px;
  max-width: 600px;
  max-height: 400px;
  min-width: 600px;
}

iframe {
  border: solid 2px #b86300;
  border-radius: 4px;
  min-width: 675px;
}

.u-ventana {
  font-size: 25px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 240px;
  max-width: 600px;
}

.texto {
  display: inline;
  font-size: 18px;
  margin-bottom: 0px;
  max-height: 100px;
  max-width: 200px;
  margin-left: 5px;
}

.t-texto {
  display: inline;
  margin-bottom: 0px;
  max-height: 100px;
  max-width: 200px;
}

.m-ventana {
  max-width: 500px;
  max-height: 1220px;
  min-width: 600px;
}

.clase {
  margin-bottom: 25px;
}

.descripcion-clase {
  font-size: 20px;
}

.t-titulo {
  display: inline;
  margin-bottom: 0px;
}

.icono {
  width: 90%;
  margin: auto;
  margin-right: 15px;
  display: flex;
  max-width: fit-content;
  min-width: fit-content;
}

.c-texto {
  margin-left: 15px;
}

.m-texto {
  text-align: left;
  font-weight: 700;
  margin-bottom: 0px;
  max-height: 100px;
  max-width: 200px;
}

.modos {
  text-align: left;
  background-color: #f5f29a;
  display: inline-block;
  max-width: 700px;
  max-height: 500px;
  min-width: 650px;
  border: solid 2px #b86300;
  border-radius: 4px;
}

.d-texto {
  margin-left: 5px;
  margin-right: 15px;
  font-size: 18px;
  text-align: left;
}

.ul-bar {
  text-align: center;
  list-style: none;
  margin: 0.5rem;
  padding: 0px;
}

.li-bar {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  position: relative;
}

.a-bar {
  display: block;
  border: none;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul.dropdown li {
  margin: 0px;
  padding: 0px;
  display: block;
}

ul.dropdown {
  margin: 0;
  background: #3d1620;
  position: absolute;
  z-index: 999;
  display: none;
}

ul.dropdown-a {
  margin: 0px;
  padding: 0px;
  background: #3d1620;
  position: absolute;
  z-index: 999;
  display: none;
}

ul.dropdown-a li {
  margin: 0px;
  padding: 0px;
  display: block;
}

ul li a:hover {
  background: #752e40;
}

ul li:hover ul.dropdown {
  display: block;
  margin: 0px;
  padding: 0px;
}

ul li:hover ul.dropdown-a {
  display: inline-block;
}

.comprar {
  border: solid 2px #b86300;
  background: linear-gradient(to right, #faf566, #ff9900, #faf566);
  color: #000000;
}
.comprar:hover {
  background: rgb(255, 145, 0);
}

.h1-compra {
  margin-right: 25px;
  margin-left: 25px;
  width: 350px;
  color: #f5f29a;
  font-size: 35px;
  text-decoration: none;
}

.h1-trailer {
  margin-right: 25px;
  margin-left: 25px;
  width: 350px;
  color: #f5f29a;
  font-size: 35px;
  text-decoration: none;
}

.c-compra {
  margin-top: 35px;
  margin-bottom: 20px;
}

.div-compra {
  width: 400px;
  border: solid 2px #b86300;
  border-radius: 6px;
  background: linear-gradient(to right, #3d1620, #5c11a7, #3d1620);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
}

.li-competencias {
  font-size: 45px;
}

.tech-center {
  min-width: 767px;
  box-sizing: initial;
}

.update {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  max-width: 1000px;
  border-bottom: solid 2px #b86300;
}

.upd-img {
  width: 90%;
  margin-right: 15px;
  display: flex;
  min-width: fit-content;
}

.img-div {
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px #9b9b9b;
}

.footer-e {
  border-top: solid 2px #b86300;
  width: 100vw;
}

.dt_header {
  width: 100vw;
}

.fecha {
  font-size: 20px;
  vertical-align: super;
}

.comentarios {
  color: #b86300;
}

.icono {
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slider {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  background-color: #fcf3e4;
  padding: 40px 0;
}

.slide-content {
  overflow: hidden;
  margin: 0 40px;
}

.card {
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.overlay_asaltantes {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #343863;
  border-radius: 25px 25px 0 25px;
}

.overlay_controladores {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #883315;
  border-radius: 25px 25px 0 25px;
}

.overlay_luchadores {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #b85d46;
  border-radius: 25px 25px 0 25px;
}

.overlay_tanques {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ae6030;
  border-radius: 25px 25px 0 25px;
}

.overlay_conjuradores {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #448b6d;
  border-radius: 25px 25px 0 25px;
}

.overlay_sanadores {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4f8a3f;
  border-radius: 25px 25px 0 25px;
}

.overlay_exaltadores {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #2495c2;
  border-radius: 25px 25px 0 25px;
}

.overlay_misticos {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #855468;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 15%;
  background: #fff;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: black;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: rgb(104, 104, 104);
}

.swiper-navBtn::before,
.swiper-navBtn::afte {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: rgb(104, 104, 104);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

.titulo_clase {
  background-color: #f6f39b;
  border: solid 2px #b86300;
  max-width: 800px;
  min-width: 400px;
}

.ul_clase {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 900px;
  margin-left: 25px;
  margin-right: 25px;
}

.li_clase {
  text-align: justify;
}

.desc_clase {
  max-width: 600px;
  text-align: justify;
}

.marco_clase {
  margin-bottom: 25px;
  display: inline-flex;
  max-width: fit-content;
  min-width: fit-content;
}

.foto_clase {
  background-color: white;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  margin-left: auto;
  border-width: 5px;
  border-radius: 19px;
  position: relative;
}

.div_clase {
  vertical-align: center;
  justify-content: center;
  max-width: 379px;
  min-height: 400px;
  display: inline-block;
  background-color: #f6f39b;
  padding-left: 20px;
  padding-right: 20px;
}

.evoluciones {
  background-color: #b86300;
  border: solid 2px #b86300;
  display: block;
  max-width: 767px;
  max-height: 500px;
}

.h2_clase_nombre {
  max-width: 750px;
  min-width: 300px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.clase_nombre {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  max-width: 900px;
  min-width: 500px;
}

.img_clase {
  border-color: 6px solid rgba(0, 0, 0, 1);
  border-style: solid;
  margin-bottom: 15px;
  border-width: 4px;
  border-radius: 15%;
  position: relative;
}
