.frame21-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .frame21-frame2 {
    gap: 62px;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame21-frame8 {
    gap: 120px;
    width: 100%;
    height: 115px;
    display: flex;
    padding: 20px 0 0 550px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .frame21-text {
    color: rgb(0, 0, 0);
    width: 115px;
    height: auto;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    border-width: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text01 {
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    border-width: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text03 {
    color: rgba(0, 0, 0, 1);
    width: 300px;
    height: auto;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    border-width: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text05 {
    color: rgba(0, 0, 0, 1);
    width: 109px;
    height: var(--dl-size-size-xsmall);
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-input {
    width: 113px;
    height: 43px;
    display: flex;
    position: relative;
    transition: 0.3s;
    align-items: center;
    flex-shrink: 1;
    justify-content: flex-end;
    background-color: rgba(217, 217, 217, 1);
  }
  .frame21-input:hover {
    background-color: ffbf00;
  }
  .frame21-input:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),     inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  .frame21-text07 {
    top: 13px;
    left: 26px;
    color: rgba(0, 0, 0, 1);
    width: 31px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
  .frame21-group7 {
    width: 869px;
    height: 336px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-group6 {
    top: 36px;
    left: 410.25px;
    width: 458.375px;
    height: 300px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-group10 {
    top: 214px;
    left: 0px;
    width: 291px;
    height: 86px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-link {
    display: contents;
  }
  .frame21-input1 {
    top: 0px;
    left: 0px;
    width: 86px;
    height: 86px;
    position: absolute;
    border-radius: 25px;
    text-decoration: none;
  }
  .frame21-link1 {
    display: contents;
  }
  .frame21-input2 {
    top: 0px;
    left: 205px;
    width: 86px;
    height: 86px;
    position: absolute;
    border-radius: 25px;
    text-decoration: none;
  }
  .frame21-group11 {
    top: 0px;
    left: 0.375px;
    width: 458px;
    height: 132px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-text09 {
    top: 117px;
    color: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text10 {
    top: 70px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text12 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-input {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
  }
  .frame21-image2501 {
    top: 0px;
    left: 0px;
    width: 350px;
    height: 336px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 19px;
  }
  .frame21-group5 {
    width: 1422px;
    height: 326px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-group9 {
    top: 59px;
    left: 109px;
    width: 1204px;
    height: 267px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-text14 {
    top: 186px;
    color: rgba(0, 0, 0, 1);
    width: 1204px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text16 {
    top: 93px;
    color: rgba(0, 0, 0, 1);
    width: 1204px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text18 {
    color: rgba(0, 0, 0, 1);
    width: 1204px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-group4 {
    top: 0px;
    left: 0px;
    width: 1422px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-line4 {
    top: 7.5px;
    left: 0px;
    width: 420px;
    height: 1px;
    position: absolute;
  }
  .frame21-text20 {
    left: 430px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-line3 {
    top: 7.5px;
    left: 1002px;
    width: 420px;
    height: 1px;
    position: absolute;
  }
  .frame21-group2 {
    width: 1446px;
    height: 224px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame21-container1 {
    top: 40px;
    left: 40px;
    width: 1204px;
    height: 139px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .frame21-text22 {
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 1204px;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text24 {
    left: 0px;
    color: rgb(0, 0, 0);
    width: 1204px;
    bottom: 38px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text25 {
    top: 38px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 1204px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-text27 {
    top: 0px;
    left: 0px;
    color: rgb(0, 0, 0);
    width: 1204px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-line6 {
    top: 8px;
    left: 916px;
    width: 530px;
    height: 1px;
    position: absolute;
  }
  .frame21-line5 {
    top: 8px;
    left: 0px;
    width: 530px;
    height: 1px;
    position: absolute;
  }
  .frame21-text28 {
    left: 553px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-group1 {
    width: 1444px;
    height: 514px;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #F1F1F1;
  }
  .frame21-text30 {
    top: 34px;
    left: 151px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: underline;
  }
  .frame21-container2 {
    top: 136px;
    left: 152px;
    width: 1152px;
    height: 67px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #FFFFFF;
  }
  .frame21-text32 {
    top: 12px;
    left: 20px;
    color: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: center;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    border-width: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-container3 {
    top: 218px;
    left: 152px;
    width: 1152px;
    height: 67px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #FFFFFF;
  }
  .frame21-text33 {
    top: 12px;
    left: 20px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    border-width: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-container4 {
    top: 300px;
    left: 152px;
    width: 1152px;
    height: 67px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #FFFFFF;
  }
  .frame21-text35 {
    top: 12px;
    left: 20px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    border-width: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-container5 {
    top: 404px;
    left: 152px;
    width: 1152px;
    height: 67px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
  }
  .frame21-text37 {
    top: 21px;
    left: 528px;
    color: rgb(255, 255, 255);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame21-group3 {
    width: 1920px;
    height: 123px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: #7D7D7D;
  }
  .frame21-text38 {
    top: 54px;
    left: 680px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }  