* {
  box-sizing: border-box;
}

body {
  min-width: 767px;
  margin: auto;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  min-width: 767px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: rgb(235, 235, 235);
}

.pestaña {
  background-color: white;
}
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

nav a[aria-current='page'] {
  color: rgb(255, 255, 255);
  background-color: #ffffff;
}

main {
  min-width: 767px;
  padding: 1rem;
}

.FotodePerfil {
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  margin-left: auto;
  border-width: 5px;
  border-radius: 19px;
  position: relative;
}

.DivFotodePerfil {
  width: 90%;
  margin: auto;
  display: flex;
  max-width: fit-content;
  min-width: fit-content;
}

.Presentacion {
  max-width: fit-content;
  min-width: fit-content;
  margin-right: auto;
  margin-left: 25px;
  font-family: Monospace;
}

.Nombre {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
}

.Profesion {
  text-align: left;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.Caracteristicas {
  text-align: left;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.iconos {
  margin-top: 35px;
  text-align: left;
  text-decoration: none;
}

.imagen-github {
  margin-right: 15px;
  border-radius: 15px;
}
.imagen-linkedin {
  margin-left: 15px;
  border-radius: 15px;
}

.aptitudes-y-habilidades {
  text-align: center;
  min-width: 676px;
  margin-top: 50px;
}

.titulo {
  min-width: fit-content;
  font-size: 40px;
  font-weight: 500;
  font-family: Monospace;
}

ul {
  margin-left: 25px;
  font-size: 25px;
}

.aptitudes {
  text-align: left;
  max-width: 1000px;
  min-width: 676px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  font-size: 20px;
}

.competencias {
  min-width: 676px;
  text-align: center;
}
.ul-competencias {
  text-align: left;
  max-width: 1000px;
  min-width: 676px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

.cuadro-contacto {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
  height: auto;
  margin-bottom: 25px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: #f1f1f1;
  max-width: fit-content;
  min-width: 650px;
}

.contacta {
  font-size: 35px;
  text-align: left;
  margin-left: 35px;
  text-decoration: underline;
}

.input-nombre {
  min-width: 648px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.i-Nombre {
  margin-right: 15px;
  margin-left: 15px;
}

.i-Asunto {
  margin-right: 15px;
  margin-left: 15px;
}

.i-Tu-Correo {
  margin-right: 15px;
  margin-left: 15px;
}

.input-mensaje {
  text-align: center;
}

.i-Mensaje {
  margin-top: 12px;
  margin-bottom: 11px;
}

.boton-enviar {
  text-align: center;
  margin-bottom: 15px;
}

.copyright {
  min-width: 767px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #7d7d7d;
  height: 60px;
  text-align: center;
}

.w-copyright {
  padding: 11px 10px 16px;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
}

/**Movil**/
@media (max-width: 767px) {
  nav {
    min-width: 767px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: rgb(228, 224, 0);
  }

  .Nombre {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 50px;
    font-weight: 800;
  }

  .Profesion {
    text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
  }

  .Caracteristicas {
    text-align: left;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
  }

  .aptitudes {
    text-align: left;
    max-width: 1000px;
    min-width: 676px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 23px;
  }
}

/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
  nav {
    min-width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: rgb(230, 141, 8);
  }
}
