:root {
  --color-white: #ffffff;
  --color-primary: #21874c;
  --color-secondary: #4b0168;
  --color-secondary-reversed: #c0c0c0;
  --color-accent: #6300b2;
  --color-body: #f2f2f2;
  --color-text-box: #dfeee6;
  --color-link: #14ff00;
  --color-link-hover: #19703d;
  --color-header: #2b2a2f;
  --color-error: red;
  --color-link: #205eff;
  --color-link-default: #0544a9;
  --color-link-default-hover: #02378b;
  --color-recommendation-text: #1c1b1e;
  --color-quote: #6b7078;

  // font-family: 'Noto Sans Buginese', 'Noto Sans Ugaritic', Arial, sans-serif;
}
