<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>Administrador de contenidos</title>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
    <!-- When using a client rendering framework it could be dynamically prerendered here, perhaps -->
    <!-- <script defer>
      document.addEventListener("DOMContentLoaded", function () {
        /* eslint-disable */
        var CustomPreview = createClass({
          render() {
            var entry = this.props.entry;

            // Add 'prose' class to the div for the tailwind typography styles
            return h(
              "div",
              { className: "prose" },
              this.props.widgetFor("links"),
            );
          },
        });

        // Register the custom preview template for a specific collection
        CMS.registerPreviewTemplate("links", CustomPreview);
      });
    </script> -->
  </body>
</html>
